# Objects and Data Structures Assessment Test


# Test your knowledge.

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: 2 main types are integers and floating point numbers

Strings: Immutable data type to record text information. We can use indexing and slicing.

Lists: Mutable data type to hold different object types in a sequence. We can use indexing and slicing.

Tuples: Similar to lists, but are immutable so Tuples should be used for things that shouldn't change.

Dictionaries: Collection of objects that are stored by a key (mappings), rather than their position.

# Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(60 + (10**2) / 4 * 7) - 134.75

100.25

What is the *type* of the result of the expression 3 + 1.5 + 4?

**Answer: Floating Point Number**

What would you use to find a number's square root, as well as its square?

In [4]:
# Square root:
100 ** 0.5

10.0

In [5]:
# Square:
10 ** 2

100

# Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [7]:
s = 'hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string 'hello', give two methods of producing the letter 'o' using indexing.

In [8]:
s = 'hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [9]:
# Method 2:

s[4]

'o'

# Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:
[0]*3

[0, 0, 0]

In [11]:
# Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [12]:
list3 = [1,2,[3,4,'hello']]

In [15]:
list3[2][2] = 'goodbye'

In [16]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [17]:
list4 = [5,3,4,6,1]

In [18]:
# Method 1:
sorted(list4)

[1, 3, 4, 5, 6]

In [20]:
# Method 2:
list4.sort()
list4

[1, 3, 4, 5, 6]

# Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [21]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [22]:
d = {'k1':{'k2':'hello'}}
#Grab 'hello'

d['k1']['k2']

'hello'

Can you sort a dictionary? Why or why not?

**Answer: No! Because normal dictionaries are mappings, not a sequence**

# Tuples

What is the major difference between tuples and lists?

**Tuples are immutable!**

How do you create a tuple?

In [23]:
t = (1,2,3)

# Sets

What is unique about a set?

**Answer:They don't allow for duplicate items!**

Use a set to find the unique values of the list below:

In [24]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [25]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}